<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apple Interview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    <nav>
    </nav>
    <main>
    {% block main_content %}
    {% endblock %}
    </main>
<footer>
    <p><a href="{{ url_for('lookup') }}">Click here to Select or Add Employee</a></p>
    <p><a href ="{{url_for('table_mod')}}">Click here to Add or Remove Database Column</a></p>
    <p><a href ="{{url_for('delete')}}">Click here to Remove Table Information</a></p>
</footer>
</body>
</html>